<form class="{{cssClass}}" autocomplete="off">
	<div class="border">
		<div class="item">
			<div class="name" style="grid-column: 1/-1">
				<label>{{localize "GEAR.NAME"}}</label>
				<input name="name" type="text" value="{{name}}" />
			</div>
			<div class="building-time">
				<label>{{localize "BUILDING.TIME"}}</label>
				<input name="system.time" type="text" value="{{system.time}}" />
			</div>
			<div class="reputation">
				<label>{{localize "BUILDING.REPUTATION"}}</label>
				<input name="system.reputation" type="text" value="{{system.reputation}}" />
			</div>
			<div class="building-number">
				<label>{{localize "BUILDING.NUMBER"}}</label>
				<input name="system.number" type="text" value="{{system.number}}" />
			</div>
			<div class="requirement">
				<label>{{localize "BUILDING.REQUIREMENT"}}</label>
				<input name="system.requirement" type="text" value="{{system.requirement}}" />
			</div>
			<div class="tools">
				<label>{{localize "BUILDING.TOOLS"}}</label>
				<input name="system.tools" type="text" value="{{system.tools}}" />
			</div>
			<div class="building-raw-materials">
				<label>{{localize "BUILDING.RAW_MATERIALS"}}</label>
				<input name="system.rawMaterials" type="text" value="{{system.rawMaterials}}" />
			</div>
			<div class="effect">
				<label>{{localize "BUILDING.EFFECT"}}</label>
				{{editor system.effect target="system.effect" owner=owner button=true editable=true}}
			</div>
			<div class="building-description">
				<label>{{localize "BUILDING.DESCRIPTION"}}</label>
				{{editor system.description target="system.description" owner=owner button=true editable=true}}
			</div>
		</div>
	</div>
</form>
