<div class="flex column full">
    <div class="item-list hirelings flex column border grow">
        <h1>{{localize "HEADER.HIRELING"}}</h1>
        <div class="header hireling flex row">
            <b class="name">{{localize "HIRELING.NAME"}}</b>
            <b class="salary">{{localize "HIRELING.SALARY"}}</b>
            <b class="number">{{localize "HIRELING.NUMBER"}}</b>
            <a class="button item-create" title="Add Hireling" data-type="hireling"><i class="fas fa-plus"></i></a>
        </div>
        <div class="items">
            {{#each actor.items as |item|}}
                {{#if item.isHireling}}
                    <div class="hireling item flex row" data-item-id="{{item._id}}">
                        <a class="name">{{item.name}}</a>
                        <div class="salary">{{item.data.salary}}</div>
                        <div class="number">{{item.data.number}}</div>
                        <div class="button">
                            <a class="item-control item-edit" title="Edit Hireling"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-post" title="Post Hireling"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-delete" title="Delete Hireling"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
