<form class="{{cssClass}}" autocomplete="off">
	<div class="header border">
		<div class="avatar">
			<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
		</div>
		<div class="header-stats">
			<label>{{localize "CRITICAL_INJURY.NAME"}}</label>
			<input name="name" type="text" value="{{name}}" />
			<label>{{localize "CRITICAL_INJURY.LETHAL"}}</label>
			<select name="data.lethal">
				{{#select data.lethal}}
				<option value="no">{{localize "LETHAL.NO"}}</option>
				<option value="yes">{{localize "LETHAL.YES"}}</option>
				{{/select}}
			</select>
			{{#if lethal}}
			<label>{{localize "CRITICAL_INJURY.LIMIT"}}</label>
			<input name="data.limit" type="text" value="{{data.limit}}" />
			{{/if}}
			<label>{{localize "CRITICAL_INJURY.HEALING_TIME"}}</label>
			<input name="data.healingTime" type="text" value="{{data.healingTime}}" />
		</div>
	</div>
	<div class="item">
		<div class="effect">
			<label>{{localize "GEAR.EFFECT"}}</label>
			{{editor target="data.effect" content=data.effect owner=owner button=true editable=true}}
		</div>
		<!-- prettier-ignore -->
		{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/modifiers-component.hbs }}
	</div>
</form>
