<div class="bio-tab border">
	<div class="section">
		<h1>
			<button
				type="button"
				class="roll-pride flex row align-center"
				data-tooltip="{{localize 'DICE.ROLL'}} {{localize system.bio.pride.label}}"
			>
				<i class="fas fa-dice"></i>{{localize "HEADER.PRIDE"}}
			</button>
		</h1>
		{{editor system.bio.pride.value target="system.bio.pride.value" owner=owner button=true editable=true}}
	</div>
	<div class="section">
		<h1>
			{{localize "HEADER.DARK_SECRET"}}
		</h1>
		{{editor
			system.bio.darkSecret.value
			target="system.bio.darkSecret.value"
			owner=owner
			button=true
			editable=true
		}}
	</div>
	<div class="section">
		<h1>
			{{localize "HEADER.FACE"}}
		</h1>
		{{editor system.bio.face.value target="system.bio.face.value" owner=owner button=true editable=true}}
	</div>
	<div class="section">
		<h1>
			{{localize "HEADER.BODY"}}
		</h1>
		{{editor system.bio.body.value target="system.bio.body.value" owner=owner button=true editable=true}}
	</div>
	<div class="section">
		<h1>
			{{localize "HEADER.CLOTHING"}}
		</h1>
		{{editor system.bio.clothing.value target="system.bio.clothing.value" owner=owner button=true editable=true}}
	</div>
</div>