<div class="combat-tab">
	<div class="weapons border">
		<h2>{{localize "HEADER.WEAPON"}}</h2>
		<div class="item-list">
			<div class="header weapon">
				<b class="name"><i class="fas fa-dice"></i>&nbsp;{{localize "WEAPON.NAME"}}</b>
				<b class="damage">{{localize "WEAPON.DAMAGE"}}</b>
				<b class="range">{{localize "WEAPON.RANGE"}}</b>
				<b class="bonus">{{localize "WEAPON.BONUS"}}</b>
				<b class="weapon-actions"><i class="fas fa-dice"></i>&nbsp;{{localize "HEADER.ACTIONS"}}</b>
			</div>
			<div class="items">
				{{#each gear.equipped as |item|}}
					{{#if item.isWeapon}}
						<div class="item" data-item-id="{{item._id}}">
							<div class="weapon">
								<div class="name">
									<img src="{{item.img}}" width="32px" />
									<div class="name">
										<button
											type="button"
											class="roll-weapon"
											data-item-id="{{item._id}}"
										>{{item.name}}</button>
										<span>
											{{weaponGrip item.system.grip}}{{#if
												(hasWeaponFeatures item.system.category item.system.features)
											}},
												{{formatWeaponFeatures item.system.category item.system.features}}
											{{/if}}
										</span>
									</div>
								</div>
								<div class="damage">{{item.system.damage}}</div>
								<div class="range">{{weaponRange item.system.range}}</div>
								<div class="bonus {{isBroken item}}">
									{{item.system.bonus.value}}
									{{#if item.system.artifactBonus}}+
										{{item.system.artifactBonus}}{{/if}}
								</div>
								<!--There's a non-trivial amount of wrangling going on here to get shields to be treated as weapons despite being of the armor type-->
								<div class="weapon-actions">
									{{#if (or (eq item.system.part "shield") (eq item.system.category "melee"))}}
										<button
											type="button"
											class="roll-action"
											data-item-id="{{item._id}}"
											data-action="parry"
										>
											{{localize "ACTION.PARRY"}}
											{{#unless
												(or (eq item.system.part "shield") item.system.features.parrying)
											}}(-2){{/unless}}
										</button>
										{{#if (or (eq item.system.part "shield") item.system.features.hook)}}
											<button
												type="button"
												class="roll-action"
												data-item-id="{{item._id}}"
												data-action="shove"
											>{{localize "ACTION.SHOVE"}}</button>
										{{/if}}
										{{#unless (eq item.system.part "shield")}}
											<button
												type="button"
												class="roll-action"
												data-item-id="{{item._id}}"
												data-action="disarm"
											>{{localize "ACTION.DISARM"}}</button>
										{{/unless}}
									{{/if}}
								</div>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="armors border">
		<h2><button type="button" class="roll-armor total"><i class="fas fa-dice"></i>
				{{localize "HEADER.ARMOR"}}</button></h2>

		<div class="item-list">
			<div class="header armor">
				<b class="name"><i class="fas fa-dice"></i>&nbsp;{{localize "GEAR.NAME"}}</b>
				<b class="bonus">{{localize "GEAR.BONUS"}}</b>
			</div>
			<div class="items">
				{{#each gear.equipped as |item|}}
					{{#if item.isArmor}}
						<div class="item armor" data-item-id="{{item._id}}">
							<div class="name">
								<img src="{{item.img}}" width="32px" />
								<div class="name">
									<button
										type="button"
										class="roll-armor specific"
										data-item-id="{{item._id}}"
									>{{item.name}}</button>
								</div>
							</div>
							<div class="bonus {{isBroken item}}"> {{item.system.bonus.value}} </div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="critical-injuries border">
		<h2>{{localize "HEADER.CRITICAL_INJURY"}}</h2>
		<div class="item-list">
			<div class="header critical-injury flex row">
				<b class="name">{{localize "CRITICAL_INJURY.NAME"}}</b>
				<b class="healtime">{{localize "CRITICAL_INJURY.HEALING_TIME"}}</b>
				<a class="button item-create" title="{{localize 'SHEET.CREATE_CR'}}" data-type="criticalInjury"><i
						class="fas fa-plus"
					></i></a>
			</div>
			<div class="items">
				{{#each items as |item|}}
					{{#if item.isCriticalInjury}}
						<div class="critical-injury item flex row" data-item-id="{{item._id}}">
							<div class="name">
								<img src="{{item.img}}" width="32px" />
								<div class="name">
									<span>{{item.name}}</span>
								</div>
							</div>
							<div class="healtime">
								<span>{{item.system.healingTime}}</span>
							</div>
							<div class="button">
								<a class="item-control item-edit" title="Edit Critical Injury"><i
										class="fas fa-edit"
									></i></a>
								<a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
								<a class="item-control item-delete" title="Delete Critical Injury"><i
										class="fas fa-trash"
									></i></a>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="actions border flex row">
		<i class="fas fa-dice grow"></i>
		<div class="flex row wrap">
			<button type="button" class="roll-action" data-action="unarmed">{{localize
					"ACTION.UNARMED_STRIKE"
				}}</button>
			<button type="button" class="roll-action" data-action="shove">{{localize "ACTION.SHOVE"}}</button>
			<button type="button" class="roll-action" data-action="disarm">{{localize "ACTION.DISARM"}}</button>
			<button type="button" class="roll-action" data-action="grapple">{{localize "ACTION.GRAPPLE"}}</button>
			<button type="button" class="roll-action" data-action="break-free">{{localize "ACTION.BREAK_FREE"}}</button>
			<button type="button" class="roll-action" data-action="melee">{{localize "ACTION.GRAPPLE_ATTACK"}}</button>
			<button type="button" class="roll-action" data-action="dodge">{{localize "ACTION.DODGE"}}</button>
			<button type="button" class="roll-action" data-action="retreat">{{localize "ACTION.RETREAT"}}</button>
		</div>
	</div>
</div>
