{{#*inline "table" gear state collapsed}}
	<table data-state="{{state}}">
		<thead>
			<th class="profile"><button class="collapse-table" title="{{localize 'HEADER.COLLAPSE'}}" {{ternary (eq state 'none') 'disabled' ''}}><i
						class="fas fa-caret-{{ternary collapsed "right" "down"}}"></i></button>
				{{fblLocalize 'GEAR' state }}<button class="header-sort" data-sort="name"><i
						class="fas fa-sort"></i></button>
			</th>
			<th><span>{{localize "GEAR.TYPE"}}</span><button class="header-sort" data-sort="type"><i
						class="fas fa-sort"></i></button></th>
			<th><span>{{localize "GEAR.ATTRIBUTE"}}</span><button class="header-sort" data-sort="attribute"><i
						class="fas fa-sort"></i></button></th>
			<th><span>{{localize "GEAR.WEIGHT"}}</span><button class="header-sort" data-sort="weight"><i
						class="fas fa-sort"></i></button></th>
			<th><button class="item-create"><i class="fas fa-plus"></i></button></th>
		</thead>
		{{#unless collapsed}}
			<tbody>
				{{#each (lookup gear state) as |item|}}
					<tr class="item" data-item-id="{{item._id}}">
						<td class="profile">
							<img src="{{item.img}}" width="32px" />
							<span class="name">{{item.name}}</span>
						</td>
						<td>{{fblLocalize item.type}}</td>
						{{#if (eq item.type 'rawMaterial')}}
							<td><input class="quantity" type="number" data-dtype="Number" value="{{item.data.quantity}}"
									title="{{localize "ITEM.QUANTITY"}}" /></td>
						{{else}}
							<td class="{{isBroken item}}"
								title="{{localize (ternary (eq item.type 'armor') "ARMOR.RATING"  "GEAR.BONUS")}}">
								{{item.data.bonus.value}}
							</td>
						{{/if}}
						<td>{{itemWeight item.data.weight}}</td>
						<td>
							<a class="item-control item-edit" title="{{localize "GEAR.EDIT"}}"><i
									class="fas fa-edit"></i></a>
							<a class="item-control item-post" title="{{localize "GEAR.POST"}}"><i
									class="fas fa-comment"></i></a>
							<a class="item-control item-delete" title="{{localize "GEAR.DELETE"}}"><i
									class="fas fa-trash"></i></a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		{{/unless}}
	</table>
{{/inline}}

{{#*inline "currency" object currency}}
	<label>{{localize object.label}}:</label>
	<a class='currency-button' data-operator='minus' data-currency='{{currency}}'><i
			class='fas fa-minus-square'></i></a>
	<input name="data.currency.{{currency}}.value" min="0" type="number" data-dtype="Number" value="{{object.value}}" />
	<a class='currency-button' data-operator='plus' data-currency='{{currency}}'><i class='fas fa-plus-square'></i></a>
{{/inline}}


<div class="gear-tab">
	<div class="currencies border">
		<div class="header flex grow row">
			<b>{{localize "HEADER.CURRENCY"}}</b>
			<div class="values">
				{{#each data.currency as |object currency|}}
					{{> currency object=object currency=currency}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="gears border">
		<div class="item-list">
			<div class="encumbrance{{#if data.encumbrance.over}} overencumbered{{/if}}"
				title="{{localize "ENCUMBRANCE" }}"><i class="fas fa-weight-hanging"></i> {{data.encumbrance.value}} /
				{{data.encumbrance.max}}
			</div>
			<div class="items">
				{{#each carriedStates as |state|}}
					{{> table gear=../gear state=state.name collapsed=state.collapsed}}
				{{/each}}
				{{> table gear=gear state="none"}}
			</div>
		</div>
	</div>
	{{#unless (eq data.subtype.type "npc")}}
		<div class="consumables border">
			<div class="consumable">
				<i class="fas fa-dice"></i>
			</div>
			{{#each data.consumable as |consumable key|}}
				<div class="consumable">
					<button type="button" class="roll-consumable"
						data-consumable="{{key}}">{{localize consumable.label}}</button>
					<select name="data.consumable.{{key}}.value" data-dtype="Number">
						{{#select consumable.value}}
							<option value="0">—</option>
							<option value="1">D6</option>
							<option value="2">D8</option>
							<option value="3">D10</option>
							<option value="4">D12</option>
						{{/select}}
					</select>
				</div>
			{{/each}}
		</div>
	{{/unless}}
</div>
