{{#*inline "table" gear state}}
	<table data-state="{{state}}">
		<thead>
			<tr>
				<th class="profile">{{fblLocalize 'GEAR' (or state "none") }}</th>
				<th >{{localize "GEAR.TYPE"}}</th>
				<th>{{localize "GEAR.ATTRIBUTE"}}</th>
				<th>{{localize "GEAR.WEIGHT"}}</th>
				<th><button class="item-create"><i class="fas fa-plus"></i></button></th>
			</tr>
		</thead>
		<tbody>
			{{#each gear as |item|}}
				{{#if (eq item.state ../state)}}
					<tr class="item"  data-item-id="{{item._id}}">
						<td class="profile">
							<img src="{{item.img}}" width="32px"/>
							<span class="name">{{item.name}}</span>
						</td>
						<td >{{fblLocalize item.type}}</td>
						<td class="{{isBroken item}}">
							{{item.data.bonus.value}}
						</td>
						<td>{{itemWeight item.data.weight}}</td>
						<td>
							<a class="item-control item-edit" title="{{localize "GEAR.EDIT"}}"><i
									class="fas fa-edit"></i></a>
							<a class="item-control item-post" title="{{localize "GEAR.POST"}}"><i
									class="fas fa-comment"></i></a>
							<a class="item-control item-delete" title="{{localize "GEAR.DELETE"}}"><i
									class="fas fa-trash"></i></a>
						</td>
					</tr>
				{{/if}}
			{{/each}}
		</tbody>
	</table>
{{/inline}}

<div class="gear-tab">
	<div class="currencies border">
		<div class="header flex grow row">
			<b>{{localize "HEADER.CURRENCY"}}</b>
			<div class="values">
				<label>{{localize data.currency.gold.label}}:</label>
				<a class='currency-button' data-operator='minus' data-currency='gold'><i
						class='fas fa-minus-square'></i></a>
				<input name="data.currency.gold.value" type="number" value="{{data.currency.gold.value}}" />
				<a class='currency-button' data-operator='plus' data-currency='gold'><i
						class='fas fa-plus-square'></i></a>
				<label>{{localize data.currency.silver.label}}:</label>
				<a class='currency-button' data-operator='minus' data-currency='silver'><i
						class='fas fa-minus-square'></i></a>
				<input name="data.currency.silver.value" type="number" value="{{data.currency.silver.value}}" />
				<a class='currency-button' data-operator='plus' data-currency='silver'><i
						class='fas fa-plus-square'></i></a>
				<label>{{localize data.currency.copper.label}}:</label>
				<a class='currency-button' data-operator='minus' data-currency='copper'><i
						class='fas fa-minus-square'></i></a>
				<input name="data.currency.copper.value" type="number" value="{{data.currency.copper.value}}" />
				<a class='currency-button' data-operator='plus' data-currency='copper'><i
						class='fas fa-plus-square'></i></a>
			</div>
		</div>
	</div>
	<div class="gears border">
		<div class="item-list">
			<div class="encumbrance{{#if data.encumbrance.over}} overencumbered{{/if}}"
				title="{{localize "ENCUMBRANCE" }}"><i class="fas fa-weight-hanging"></i> {{data.encumbrance.value}} /
				{{data.encumbrance.max}}</div>
			<div class="items">
				{{#each carriedStates as |state|}}
				{{> table gear=../gear state=state}}
				{{/each}}
				{{> table gear=gear state=""}}
				{{!-- <div class="header flex row">
                    <b class="name">{{localize "HEADER.OTHER_CARRIED"}}</b>
                    <a class="button item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
                </div>
                <div>
                    {{#each items as |item|}}
                    {{#if item.isWeapon}}
                    <div class="gear item flex row" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="name">{{item.name}}</div>
                        </div>
                        <div class="bonus {{isBroken item}}">
                            {{item.data.bonus.value}}
                            {{#if item.data.artifactBonus}}+ {{item.data.artifactBonus}}{{/if}}
                        </div>
                        <div class="weight">{{itemWeight item.data.weight}}</div>
                        <div class="button">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="header flex row">
                    <b class="name">{{localize "HEADER.DROPPED"}}</b>
                    <a class="button item-create" title="Add Gear" data-type="gear"><i class="fas fa-plus"></i></a>
                </div>
                <div>
                    {{#each items as |item|}}
                    {{#if item.isGear}}
                    <div class="gear item flex row" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="name">{{item.name}}</div>
                        </div>
                        <div class="bonus {{isBroken item}}">
                            {{item.data.bonus.value}}
                        </div>
                        <div class="weight">{{itemWeight item.data.weight}}</div>
                        <div class="button">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="header flex row">
                    <b class="name">{{localize "HEADER.RAW_MATERIAL"}}</b>
                    <b class="bonus">{{localize "ITEM.QUANTITY"}}</b>
                    <b class="weight">{{localize "GEAR.WEIGHT"}}</b>
                    <a class="button item-create" title="Add Raw Material" data-type="rawMaterial"><i
                            class="fas fa-plus"></i></a>
                </div>
                <div>
                    {{#each items as |item|}}
                    {{#if item.isRawMaterial}}
                    <div class="gear item flex row" data-item-id="{{item._id}}">
                        <div class="name">
                            <div class="image-container">
                                <div class="image" style="background-image: url('{{item.img}}')"></div>
                            </div>
                            <div class="name">{{item.name}}</div>
                        </div>
						<input class="quantity" type="number" data-dtype="Number" value="{{item.data.quantity}}" />
                        <div class="weight">{{itemWeight item.data.weight}}</div>
                        <div class="button">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div> --}}
			</div>
		</div>
	</div>
	{{#unless (eq data.subtype.type "npc")}}
		<div class="consumables border">
			<div class="consumable">
				<i class="fas fa-dice"></i>
			</div>
			{{#each data.consumable as |consumable key|}}
				<div class="consumable">
					<button type="button" class="roll-consumable"
						data-consumable="{{key}}">{{localize consumable.label}}</button>
					<select name="data.consumable.{{key}}.value" data-dtype="Number">
						{{#select consumable.value}}
							<option value="0">—</option>
							<option value="1">D6</option>
							<option value="2">D8</option>
							<option value="3">D10</option>
							<option value="4">D12</option>
						{{/select}}
					</select>
				</div>
			{{/each}}
		</div>
	{{/unless}}
</div>
