<form class="{{cssClass}}" autocomplete="off">
	<div class="border">
		<div class="header">
			<div class="avatar">
				<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
			</div>
			<div class="name">
				<label>{{localize "MONSTER.NAME"}}</label>
				<input name="name" type="text" value="{{name}}" />
			</div>
		</div>
		<div class="item">
			<div class="monster-description">
				<label>{{localize "MONSTER.DESCRIPTION"}}</label>{{editor target="data.description"
				content=data.description owner=owner button=true editable=true}}
			</div>
		</div>
	</div>
</form>
