<form class="{{cssClass}}" autocomplete="off">
	<div class="header border">
		<div class="avatar">
			<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
		</div>
		<div class="header-stats">
			<label>{{localize "GEAR.NAME"}}</label>
			<input name="name" type="text" value="{{name}}" />
			<label>{{localize "ITEM.QUANTITY"}}</label>
			<input name="data.quantity" type="text" value="{{data.quantity}}" />
		</div>
	</div>
	<div class="item">
		<div class="cost">
			<label>{{localize "GEAR.COST"}}</label>
			<input name="data.cost" type="text" value="{{data.cost}}" />
		</div>
		<div class="shelf-life">
			<label>{{localize "RAW_MATERIAL.SHELF_LIFE"}}</label>
			<input name="data.shelfLife" type="text" value="{{data.shelfLife}}" />
		</div>
		<div class="raw-materials">
			<label>{{localize "BUILDING.RAW_MATERIALS"}}</label>
			<input name="data.rawMaterials" type="text" value="{{data.rawMaterials}}" />
		</div>
		<div class="talent">
			<label>{{localize "GEAR.TALENT"}}</label>
			<input name="data.talent" type="text" value="{{data.talent}}" />
		</div>
		<div class="tools">
			<label>{{localize "GEAR.TOOLS"}}</label>
			<textarea name="data.tools">{{data.tools}}</textarea>
		</div>
	</div>
</form>
