<form class="{{cssClass}}" autocomplete="off">
	<div class="stronghold">
		<div class="bio border">
			<div class="flex row align-center">
				<div class="avatar">
					<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
				</div>
				<div class="flex column grow">
					<div class="name">
						<label>{{localize "BIO.NAME"}}:</label>
						<input name="name" type="text" value="{{name}}" />
					</div>
					<div class="bio-row">
						<div class="location">
							<label>{{localize "STRONGHOLD.LOCATION"}}:</label>
							<input name="data.location" type="text" value="{{data.location}}" />
						</div>
						<div class="defense-rating">
							<label>{{localize "STRONGHOLD.DEFENSE_RATING"}}:</label>
							<input
								name="data.defenseRating"
								type="number"
								value="{{data.defenseRating}}"
								data-dtype="Number"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="sheet-tabs tabs flex row" data-group="primary">
			<b class="tab-item" data-tab="building">{{localize "TAB.BUILDING"}}</b>
			<b class="tab-item" data-tab="hireling">{{localize "TAB.HIRELING"}}</b>
			<b class="tab-item" data-tab="gear">{{localize "TAB.GEAR"}}</b>
			<b class="tab-item" data-tab="note">{{localize "TAB.NOTE"}}</b>
		</div>

		<div class="sheet-body">
			<div class="tab" data-group="primary" data-tab="building">
				<!-- prettier-ignore -->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/tab/building-stronghold.hbs}}
			</div>
			<div class="tab" data-group="primary" data-tab="hireling">
				<!-- prettier-ignore -->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/tab/hireling-stronghold.hbs}}
			</div>
			<div class="tab" data-group="primary" data-tab="gear">
				<!-- prettier-ignore -->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/tab/gear-stronghold.hbs}}
			</div>
			<div class="tab note" data-group="primary" data-tab="note">
				<!-- prettier-ignore -->
				{{! prettier-ignore }}
{{editor content=data.description target="data.description" button=true owner=owner editable=true}}
			</div>
		</div>
	</div>
</form>
