<div class="main-tab">
	<div class="attributes border">
		<h2>{{localize "HEADER.ATTRIBUTES"}}</h2>
		{{#each system.attribute as |attribute key|}}
			{{#unless (or (eq attribute.label "ATTRIBUTE.HEALTH") (eq attribute.label "ATTRIBUTE.RESOLVE"))}}
				<div class="name">
					<button type="button" class="roll-attribute"
						data-attribute="{{key}}">{{localize attribute.label}}</button>
				</div>
				<div class="skulls {{#unless attribute.value }}broken{{/unless}}">
					<a class="change-attribute" data-attribute="{{key}}">
						{{#skulls attribute.value attribute.max}}
							<i
								class="skull {{#if @damaged}}far fa-times-circle{{else}}{{#if ../alternativeSkulls}} fas {{else}} far {{/if}} fa-circle{{/if}}"></i>
						{{/skulls}}
					</a>
				</div>
				<div class="value">
					<input name="system.attribute.{{key}}.value" type="number" value="{{attribute.value}}"
						data-dtype="Number" />
					<i class="fas fa-slash rotated"></i>
					<input name="system.attribute.{{key}}.max" type="number" value="{{attribute.max}}"
						data-dtype="Number" />
				</div>
			{{/unless}}
		{{/each}}
	</div>
	<div class="conditions flex column border grow center">
		{{#if system.useHealthAndResolve}}
			<h2>{{localize "DAMAGE"}}</h2>
			<div class="attributes">
				{{#each system.attribute as |attribute key|}}
					{{#if (or (eq attribute.label "ATTRIBUTE.HEALTH") (eq attribute.label "ATTRIBUTE.RESOLVE"))}}
						<div class="name">
							<button type="button" class="roll-attribute"
								data-attribute="{{key}}">{{localize attribute.label}}</button>
						</div>
						<div class="skulls {{#unless attribute.value }}broken{{/unless}}">
							<a class="change-attribute" data-attribute="{{key}}">
								{{#skulls attribute.value attribute.max}}
									<i
										class="skull {{#if @damaged}}far fa-times-circle{{else}}{{#if ../alternativeSkulls}} fas {{else}} far {{/if}} fa-circle{{/if}}"></i>
								{{/skulls}}
							</a>
						</div>
						<div class="value">
							<input name="system.attribute.{{key}}.value" type="number" value="{{attribute.value}}"
								data-dtype="Number" />
							<i class="fas fa-slash rotated"></i>
							<input name="system.attribute.{{key}}.max" type="number" value="{{attribute.max}}"
								data-dtype="Number" />
						</div>
					{{/if}}
				{{/each}}
			</div>
		{{/if}}
		<h2>{{localize "HEADER.CONDITION"}}</h2>
		<div class="conditions-grid">
			<a class="condition {{# if system.condition.sleepy.value}}active{{/if}}" data-condition="sleepy"
				title="{{localize "CONDITION.SLEEPY"}}">
				{{localize "CONDITION.SLEEPY"}}
				<i class="far {{#if system.condition.sleepy.value}}fa-times-circle{{else}}fa-circle{{/if}}"></i>
			</a>
			<a class="condition {{# if system.condition.thirsty.value}}active{{/if}}" data-condition="thirsty"
				title="{{localize "CONDITION.THIRSTY"}}">
				{{localize "CONDITION.THIRSTY"}}
				<i class="far {{#if system.condition.thirsty.value}}fa-times-circle{{else}}fa-circle{{/if}}"></i>
			</a>
			<a class="condition {{# if system.condition.hungry.value}}active{{/if}}" data-condition="hungry"
				title="{{localize "CONDITION.HUNGRY"}}">
				{{localize "CONDITION.HUNGRY"}}
				<i class="far {{#if system.condition.hungry.value}}fa-times-circle{{else}}fa-circle{{/if}}"></i>
			</a>
			<a class="condition {{# if system.condition.cold.value}}active{{/if}}" data-condition="cold"
				title="{{localize "CONDITION.COLD"}}">
				{{localize "CONDITION.COLD"}}
				<i class="far {{#if system.condition.cold.value}}fa-times-circle{{else}}fa-circle{{/if}}"></i>
			</a>
		</div>

	</div>

	<div class="skills strength border">
		<h2>{{localize "ATTRIBUTE.STRENGTH"}}</h2>
		{{#each system.skill as |skill key|}}
			{{#if skill.hasStrength}}
				<div class="name"><button type="button" class="roll-skill"
						data-skill="{{key}}">{{localize skill.label}}</button></div>
				<input name="system.skill.{{key}}.value" class="value" type="number" value="{{skill.value}}"
					min="{{skill.min}}" data-dtype="Number" />
			{{/if}}
		{{/each}}
	</div>
	<div class="skills agility border">
		<h2>{{localize "ATTRIBUTE.AGILITY"}}</h2>
		{{#each system.skill as |skill key|}}
			{{#if skill.hasAgility}}
				<div class="name"><button type="button" class="roll-skill"
						data-skill="{{key}}">{{localize skill.label}}</button></div>
				<input name="system.skill.{{key}}.value" type="number" class="value" value="{{skill.value}}"
					min="{{skill.min}}" data-dtype="Number" />
			{{/if}}
		{{/each}}
	</div>
	<div class="skills wits border">
		<h2>{{localize "ATTRIBUTE.WITS"}}</h2>
		{{#each system.skill as |skill key|}}
			{{#if skill.hasWits}}
				<div class="name"><button type="button" class="roll-skill"
						data-skill="{{key}}">{{localize skill.label}}</button></div>
				<input name="system.skill.{{key}}.value" type="number" class="value" value="{{skill.value}}"
					min="{{skill.min}}" data-dtype="Number" />
			{{/if}}
		{{/each}}
	</div>
	<div class="skills empathy border">
		<h2>{{localize "ATTRIBUTE.EMPATHY"}}</h2>
		{{#each system.skill as |skill key|}}
			{{#if skill.hasEmpathy}}
				<div class="name"><button type="button" class="roll-skill"
						data-skill="{{key}}">{{localize skill.label}}</button></div>
				<input name="system.skill.{{key}}.value" type="number" class="value" value="{{skill.value}}"
					min="{{skill.min}}" data-dtype="Number" />
			{{/if}}
		{{/each}}
	</div>
</div>
