<div class="main border">
	<div class="weight">
		<label>{{localize "GEAR.WEIGHT"}}</label>
		<select name="data.weight">
			{{#select data.weight}}
			<option value="none">{{localize "WEIGHT.NONE"}}</option>
			<option value="tiny">{{localize "WEIGHT.TINY"}}</option>
			<option value="light">{{localize "WEIGHT.LIGHT"}}</option>
			<option value="regular">{{localize "WEIGHT.REGULAR"}}</option>
			<option value="heavy">{{localize "WEIGHT.HEAVY"}}</option>
			{{/select}}
		</select>
	</div>
	<div class="part">
		<label>{{localize "ARMOR.PART"}}</label>
		<select name="data.part">
			{{#select data.part}}
			<option value="body">{{localize "ARMOR.BODY"}}</option>
			<option value="head">{{localize "ARMOR.HELMET"}}</option>
			<option value="shield">{{localize "ARMOR.SHIELD"}}</option>
			{{/select}}
		</select>
	</div>
	<div class="grid-full-line">
		<label>{{localize "WEAPON.FEATURES.TITLE"}}</label>
		<input name="data.features" type="text" value="{{data.features}}" />
	</div>
</div>
<div class="roll-modifiers border">
	<!-- prettier-ignore -->
	{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/modifiers-component.hbs }}
</div>
