<div class="main border">
	<div class="weight">
		<label>{{localize "GEAR.WEIGHT"}}</label>
		<select name="data.weight">
			{{#select data.weight}}
				<optgroup label={{localize "WEIGHT.TYPE_REGULAR" }}>
					{{#each encumbranceValues as |weight|}}
					{{#if (eq (getType @key) "string")}}
						<option value="{{@key}}">{{itemWeight @key}}</option>
					{{/if}}
					{{/each}}
				</optgroup>
				<optgroup label={{localize "WEIGHT.TYPE_SPECIAL" }}>
					{{#each encumbranceValues as |weight|}}
					{{#if (eq (getType @key) "number")}}
						<option value="{{@key}}">{{itemWeight @key}}</option>
					{{/if}}
					{{/each}}
				</optgroup>
			{{/select}}
		</select>
	</div>
	{{#if showEffectField}}
		<div class="grid-full-line">
			<label>{{localize "GEAR.EFFECT"}}</label>
			{{#if isGM}}
				<span class="hide-field" data-fieldname="Effect" title="{{localize "ARTIFACT.TOGGLE_VISIBILITY"}}">
					<i class="fas fa-eye{{#if flags.Effect}}-slash{{/if}}"></i>
				</span>
			{{/if}}
			{{editor target="data.effect" content=data.effect owner=owner button=true editable=true}}
		</div>
	{{/if}}
</div>
<div class="roll-modifiers border">
					<!-- prettier-ignore -->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/modifiers-component.hbs }}
</div>
