<form class="{{cssClass}}" autocomplete="off">
	<div class="chargen flex column">
		<div class="flex row chargen-section border chargen-options">
			<b class="chargen-randomize-all" type="button">{{localize "FLCG.RANDOMIZE"}}</b>
			<b class="chargen-create-actor" type="button">{{localize "FLCG.APPLY"}}</b>
		</div>

		<div class="flex row chargen-section border">
			<div class="chargen-section-content"><em>&nbsp;*{{localize "FLCG.AGE_PENALTY_MESSAGE"}}</em></div>
		</div>

		<div class="flex row chargen-section border">
			<div class="flex column">
				<div class="flex column">
					<div class="flex row">
						<button class="chargen-roll chargen-roll-kin" type="button"></button>
						<div class="chargen-section-content">
							<strong>{{localize "FLCG.KIN"}}</strong>
							<select class="chargen-select-kin">
								{{#each dataset.kin as |item|}}
									<option value="{{item.key}}" {{#if (eq item.key ../character.kin)}}selected{{/if}}>
										{{localize item.name}}
									</option>
								{{/each}}
							</select>
						</div>
						{{#unless (eq character.kin "elf")}}
						<button class="chargen-roll chargen-roll-age" type="button"></button>
						<div class="chargen-section-content">
							<strong>{{localize "FLCG.AGE"}}</strong>
							<div class="chargen-age-container">
								<input
									class="chargen-age-input"
									type="number"
									maxlength="3"
									value="{{character.age.ageNumber}}"
								/>
								&nbsp;:&nbsp;
								<span class="chargen-age">{{localize character.age.ageString}}</span>
							</div>
						</div>
						{{/unless}}
					</div>
					<div class="flex row">
						<button class="chargen-roll chargen-roll-profession" type="button"></button>
						<div class="chargen-section-content">
							<strong>{{localize "FLCG.PROFESSION"}}</strong>
							<select class="chargen-select-profession">
								{{#each dataset.profession as |item|}}
									<option value="{{item.key}}" {{#if (eq item.key ../character.profession)}}selected{{/if}}>
										{{localize item.name}}
									</option>
								{{/each}}
							</select>
						</div>

						<button class="chargen-roll chargen-roll-path" type="button"></button>
						<div class="chargen-section-content">
							<strong>{{localize "FLCG.PATH"}}</strong>
							<select class="chargen-select-path">
								{{#each dataset.paths as |item key|}}
									<option value="{{key}}" {{#if (eq key ../character.path)}}selected{{/if}}>
										{{localize item}}
									</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
				<div class="flex row">
					<button class="chargen-roll chargen-roll-childhood" type="button"></button>
					<div class="chargen-section-content">
						<strong>{{localize "FLCG.CHILDHOOD"}}</strong>
						<select class="chargen-select-childhood">
							{{#each dataset.childhood as |item|}}
								<option value="{{item.key}}" {{#if (eq item.key ../character.childhood.key)}}selected{{/if}}>
									{{localize item.name}}
								</option>
							{{/each}}
						</select>
						<div class="chargen-description">{{character.childhood.description}}</div>
					</div>
				</div>
			</div>
			<div class="chargen-build">
				<!--prettier-ignore-->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/character-generator/list-component.hbs title="FLCG.ATTRIBUTES" list=character.childhood.attributes }}
				<!--prettier-ignore-->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/character-generator/list-component.hbs title="FLCG.SKILLS" list=character.childhood.skills }}
			</div>
		</div>
		<h2 class="chargen-title">{{localize "FLCG.EVENT"}}</h2>
		<div class="chargen-background-table">
			{{#each character.formativeEvents as |formativeEvent key|}}
			<div class="flex row chargen-section">
				<button class="chargen-roll chargen-roll-event" data-key="{{key}}" type="button"></button>
				<div class="chargen-section-content">
					<select class="chargen-select-event" data-key="{{key}}">
						{{#each ../dataset.formativeEvents as |item|}}
							<option value="{{item.key}}" {{#if (eq item.key formativeEvent.key)}}selected{{/if}}>
								{{localize item.name}}
							</option>
						{{/each}}
					</select>
					<div class="chargen-description chargen-event">{{formativeEvent.description}}</div>
					<div class="chargen-items chargen-event">{{formativeEvent.items}}</div>
				</div>
				<div class="chargen-build">
				<!--prettier-ignore-->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/character-generator/list-component.hbs title="FLCG.SKILLS" list=formativeEvent.skills }}
					<div class="chargen-list">
						<div class="chargen-list-caption">{{localize "FLCG.TALENT"}}</div>
						<ul>
							<li>{{formativeEvent.talent}}</li>
						</ul>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</form>
