<div class="bio-tab border">
	<div class="section">
		<h1><button id="pride-roll-btn">{{localize "HEADER.PRIDE"}}</button></h1>
		<textarea name="data.bio.pride.value">{{data.bio.pride.value}}</textarea>
	</div>
	<div class="section">
		<h1>{{localize "HEADER.DARK_SECRET"}}</h1>
		<textarea name="data.bio.darkSecret.value">{{data.bio.darkSecret.value}}</textarea>
	</div>
	<div class="section">
		<h1>{{localize "HEADER.FACE"}}</h1>
		<textarea name="data.bio.face.value">{{data.bio.face.value}}</textarea>
	</div>
	<div class="section">
		<h1>{{localize "HEADER.BODY"}}</h1>
		<textarea name="data.bio.body.value">{{data.bio.body.value}}</textarea>
	</div>
	<div class="section">
		<h1>{{localize "HEADER.CLOTHING"}}</h1>
		<textarea name="data.bio.clothing.value">{{data.bio.clothing.value}}</textarea>
	</div>
</div>
