<div class="flex column full">
	<div class="flex row align-center border">
		<div class="avatar">
			<img src="{{img}}" data-edit="img" title="{{name}}" height="100" width="100" />
		</div>
		<div class="flex row margin align-end space-around grow">
			<div class="flex column">
				<div class="name">
					<b>{{localize "FLPS.PARTY.NAME"}}</b>
					<input name="name" type="text" value="{{name}}" />
				</div>
			</div>
		</div>
	</div>
	<div class="flex row main">
		<div class="party-member-list">
			<h3>{{localize "FLPS.PARTY.MEMBERS" }}</h3>
			<div class="tab-hint">{{localize "FLPS.PARTY.HINT_ADD"}}</div>
			<ol>
				{{#each partyMembers as | partyMember |}}
		{{> systems/forbidden-lands/templates/actor/party/components/member-component.hbs partyMember=partyMember deleteButton=true}}
				{{/each}}
			</ol>
		</div>
		{{#if isGm}}
		<div class="random-enc">
			<h3>{{localize "FLPS.PARTY.RANDOM_ENCOUNTERS"}}</h3>
			<ul>
			{{#each encounterTables as | value |}}
				<li>
					<button class="encounter-table" data-id="{{value}}"><i class="fas fa-dice"></i>{{@key}}</button>
				</li>
			{{/each}}
			</ul>
			<hr style="width: 100%;" />
			<button class="configure-tables"><i class="fas fa-th-list"></i> {{localize "CONFIG.TABLE_CONFIG_MENU_LABEL"}}</button>
		</div>
		{{/if}}
	</div>
</div>
