<div class="forbidden-lands roll-item">
	<div class="border">

		<h3>{{name}}{{#if isPushed}} - {{localize "PUSHED"}}{{/if}}</h3>
		<h4>
			{{sword}} <img src="systems/forbidden-lands/assets/sword.png" alt="âš”ï¸" /> | {{skull}}
			<img src="systems/forbidden-lands/assets/skull.png" alt="ðŸ’€" />
		</h4>
		{{#if isSpell}}
		<h4 style="text-align: left">{{localize "POWER_LEVEL"}}: {{powerLevel}}</h4>
		{{/if}} {{#if hasDamage}}
		<h4 style="text-align: left">{{localize "DAMAGE"}}: {{damage}}</h4>
		{{/if}}
		<div class="roll">
			{{#each dices as |dice|}}<img
				class="die"
				src="systems/forbidden-lands/assets/dice/{{dice.type}}-d{{dice.face}}-{{dice.value}}.png"
				alt="{{dice.value}}"
				title="{{dice.value}}"
			/>{{/each}}
		</div>
		<button type="button" data-user-id={{user}} class="push-roll {{#if isPushed}}pushed{{/if}}" alt="{{localize "PUSH"}}">{{#if isPushed}}{{localize "PUSHED"}}...{{else}}{{localize "PUSH"}}{{/if}}</button>
	</div>
</div>
