<form class="{{cssClass}}" autocomplete="off">
	<div class="header border">
		<div class="avatar">
			<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
		</div>
		<div class="header-stats">
			<label>{{localize "GEAR.NAME"}}</label>
			<input name="name" type="text" value="{{name}}" />

			<label>{{localize "WEAPON.BONUS"}}</label>
			<div class="bonus">
				<div class="skulls {{#unless data.bonus.value }}broken{{/unless}}">
					<a class="change-bonus" data-attribute="{{data.bonus}}">
						{{#skulls data.bonus.value data.bonus.max}}
						<i
							class="skull {{#if @damaged}}far fa-times-circle{{else}}{{#if alternativeSkulls}} fas {{else}} far {{/if}} fa-circle{{/if}}"
						></i>
						{{/skulls}}
					</a>
				</div>
				<div class="multivalue">
					<input name="data.bonus.value" type="number" value="{{data.bonus.value}}" data-dtype="Number" />
					<i class="fas fa-slash rotated"></i>
					<input name="data.bonus.max" type="number" value="{{data.bonus.max}}" data-dtype="Number" />
				</div>
			</div>
			<label>{{localize "ARTIFACT.ARTIFACT_BONUS"}}</label>
			<div class="artifactBonus">
				<select name="data.artifactBonus">
					{{#select data.artifactBonus}}
					<option value="">{{localize "ARTIFACT.REGULAR"}}</option>
					<option value="0">{{localize "ARTIFACT.DICELESS"}} (-)</option>
					<option value="d8">{{localize "ARTIFACT.MIGHTY"}} (d8)</option>
					<option value="d10">{{localize "ARTIFACT.EPIC"}} (d10)</option>
					<option value="d12">{{localize "ARTIFACT.LEGENDARY"}} (d12)</option>
					{{/select}}
				</select>
			</div>
		</div>
	</div>
	<div class="sheet-tabs tabs flex row" data-group="primary">
		<b class="tab-item" data-tab="main">{{localize "TAB.MAIN"}}</b>
		{{#if artifact}} {{#if (or showDescriptionField showDrawbackField showAppearanceField showEffectField)}}
		<b class="tab-item" data-tab="artifact">{{localize "TAB.ARTIFACT"}}</b>
		{{/if}} {{else}} {{#if (or showCostField showSupplyField showCraftingFields)}}
		<b class="tab-item" data-tab="supply">{{localize "TAB.CRAFT_SUPPLY"}}</b>
		{{/if}} {{/if}}
	</div>
	<div class="sheet-body">
		<div class="tab" data-group="primary" data-tab="main">
			<!-- prettier-ignore -->
			{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/item/weapon/main-tab.hbs}}
		</div>
		<div class="tab" data-group="primary" data-tab="artifact">
			<!-- prettier-ignore -->
			{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/item/_shared-template-tabs/artifact-tab.hbs}}
		</div>
		<div class="tab" data-group="primary" data-tab="supply">
			<!-- prettier-ignore -->
			{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/item/_shared-template-tabs/supply-tab.hbs}}
		</div>
	</div>
</form>
