<div class="main border">
	<div class="weight">
		<label>{{localize "GEAR.WEIGHT"}}</label>
		<select name="system.weight">
			{{selectOptions weightOptions selected=system.weight localize=true}}
		</select>
	</div>
	<div class="part">
		<label>{{localize "ARMOR.PART"}}</label>
		<select name="system.part">
			{{selectOptions partOptions selected=system.part localize=true}}
		</select>
	</div>
	<div class="grid-full-line">
		<label>{{localize "WEAPON.FEATURES.TITLE"}}</label>
		{{editor system.features target="system.features" owner=owner button=true editable=true}}
	</div>
</div>
<div class="roll-modifiers border">
{{> systems/forbidden-lands/templates/components/modifiers-component.hbs }}
</div>
