<div class="main border">
	<div class="damage">
		<label>{{localize "WEAPON.DAMAGE"}}</label>
		<input name="system.damage" type="number" value="{{system.damage}}" data-dtype="Number" />
	</div>
	<div class="weight">
		<label>{{localize "GEAR.WEIGHT"}}</label>
		<select name="system.weight">
			{{selectOptions weightOptions selected=system.weight localize=true}}
		</select>
	</div>
	<div class="weapon-category">
		<label>{{localize "WEAPON.CATEGORY"}}</label>
		<select name="system.category">
			{{selectOptions categoryOptions selected=system.category localize=true}}
		</select>
	</div>
	<div class="grip">
		<label>{{localize "WEAPON.GRIP"}}</label>
		<select name="system.grip">
			{{selectOptions gripOptions selected=system.grip localize=true}}
		</select>
	</div>
	<div class="range">
		<label>{{localize "WEAPON.RANGE"}}</label>
		<select name="system.range">
			{{selectOptions rangeOptions selected=system.range localize=true}}
		</select>
	</div>
	{{#if (eq system.category "ranged")}}
	<div>
		<label>{{localize "WEAPON.AMMO"}}</label>
		<select name="system.ammo">
			{{selectOptions ammoOptions selected=system.ammo localize=true}}
		</select>
	</div>
	{{/if}}
</div>

<div class="border flex column">
	<div class="column-header">
		<label>{{localize "WEAPON.FEATURES.TITLE"}}</label>
	</div>
	<div class="features flex row">
		{{#if (eq system.category "melee")}}
		<a class="feature {{# if system.features.edged}}active{{/if}}" data-feature="edged" title="{{localize "WEAPON.FEATURES.EDGED"}}">
			<i class="far {{#if system.features.edged}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.EDGED"}}
		</a>

		<a class="feature {{# if system.features.pointed}}active{{/if}}" data-feature="pointed" title="{{localize "WEAPON.FEATURES.POINTED"}}">
			<i class="far {{#if system.features.pointed}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.POINTED"}}
		</a>

		<a class="feature {{# if system.features.blunt}}active{{/if}}" data-feature="blunt" title="{{localize "WEAPON.FEATURES.BLUNT"}}">
			<i class="far {{#if system.features.blunt}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.BLUNT"}}
		</a>

		<a class="feature {{# if system.features.parrying}}active{{/if}}" data-feature="parrying" title="{{localize "WEAPON.FEATURES.PARRYING"}}">
			<i class="far {{#if system.features.parrying}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.PARRYING"}}
		</a>

		<a class="feature {{# if system.features.shield}}active{{/if}}" data-feature="shield" title="{{localize "WEAPON.FEATURES.SHIELD"}}">
			<i class="far {{#if system.features.shield}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.SHIELD"}}
		</a>

		<a class="feature {{# if system.features.hook}}active{{/if}}" data-feature="hook" title="{{localize "WEAPON.FEATURES.HOOK"}}">
			<i class="far {{#if system.features.hook}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.HOOK"}}
		</a>
		{{/if}}
		{{#if (eq system.category "ranged")}}
		<a class="feature {{# if system.features.slowReload}}active{{/if}}" data-feature="slowReload" title="{{localize "WEAPON.FEATURES.SLOW_RELOAD"}}">
			<i class="far {{#if system.features.slowReload}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			{{localize "WEAPON.FEATURES.SLOW_RELOAD"}}
		</a>
		{{/if}}
	</div>
	<div class="">
		<label>{{localize "WEAPON.FEATURES.OTHERS"}}</label>
		{{editor system.features.others target="system.features.others"  owner=owner button=true editable=true}}
	</div>
</div>
<div class="roll-modifiers border">
	<!-- prettier-ignore -->
	{{! prettier-ignore }}
{{> systems/forbidden-lands/templates/components/modifiers-component.hbs }}
</div>
