<div class="roll-modifiers flex column gap">
    <header class="flex row column-header">
        <label class="grow">{{localize "ITEM.ROLL_MODIFIERS"}}</label>
        <a class="button add-modifier" title="{{localize 'ITEM.ADD_MODIFIER'}}"><i class="fas fa-plus"></i></a>
    </header>
    {{#each system.rollModifiers as |modifier|}}
    {{#if modifier}}
    <div class="flex row align-center gap">
        <div class="grow">
            <select name="system.rollModifiers.{{@key}}.name">
                {{selectOptions ../modifierOptions selected=modifier.name localize=true}}
            </select>
        </div>
        {{#if (or (eq ../type "gear") (eq ../type "weapon") (eq ../type "armor"))}}
            <div class="flex row align-center" title="{{localize "ITEM.ROLL_MODIFIERS_USEGEAR"}}">
                <input type="checkbox" name="system.rollModifiers.{{@key}}.gearBonus" id="{{../_id}}.{{@key}}.gearBonusToggle" {{checked modifier.gearBonus}} />
                <label for="{{../_id}}.{{@key}}.gearBonusToggle" style="white-space: nowrap; font-size: var(--font-size-12);">{{localize "ITEM.ROLL_MODIFIERS_USEGEAR"}}</label>
            </div>
        {{/if}}
        {{#unless modifier.gearBonus}}
            <div style="flex: 1 1 10%;" title="{{localize "ITEM.ROLL_MODIFIERS_VALUE"}}">
                <input name="system.rollModifiers.{{@key}}.value" type="text" value="{{ modifier.value }}" style="text-align: center;"/>
            </div>
        {{/unless}}
        <a class="button delete-modifier" title="{{localize 'ITEM.DELETE_MODIFIER'}}" data-modifier-id="{{@key}}">
            <i class="fas fa-trash"></i>
        </a>
    </div>
    {{/if}}
    {{else}}
    <div class="flex column center">
        <i>{{localize "ITEM.NO_MODIFIERS"}}</i>
    </div>
    {{/each}}
</div>
