<section data-application-part="form" class="standard-form">
	{{#if (eq document.type "character")}}
		<fieldset>
			<legend>Character Configuration</legend>
			<div class="form-group">
				<label>{{localize "CONFIG.SHEET.CHARACTER_SUBTYPE"}}</label>
				<div class="form-fields">
					<select name="system.subtype.type">
						{{selectOptions types selected=document.system.subtype.type localize=true }}
					</select>
				</div>
				<p class="hint">{{localize "CONFIG.SHEET.CHARACTER_SUBTYPE_DESC"}}</p>
			</div>
			<div class="form-group">
				<label>{{localize "FLPS.SETTINGS.ALLOW_PUSH"}}</label>
				<div class="form-fields">
					<input type="checkbox" name="flags.forbidden-lands.unlimitedPush" {{checked document.flags.forbidden-lands.unlimitedPush}} />
				</div>
				<p class="hint">{{localize "FLPS.SETTINGS.ALLOW_PUSH_HINT"}}</p>
			</div>
		</fieldset>
	{{/if}}

	<fieldset>
		<legend>Document</legend>
		<div class="form-group">
			<label>{{localize "SHEETS.ThisSheet"}}</label>
			<div class="form-fields">
				<select name="sheetClass">
					<option value="">{{blankLabel}}</option>
					{{selectOptions sheetClasses selected=sheetClass}}
				</select>
			</div>
			<p class="hint">{{localize "SHEETS.DocumentSheetHint"}}</p>
		</div>
	</fieldset>

	<fieldset>
		<legend>Defaults</legend>
		<div class="form-group">
			<label>{{localize "Default"}} <strong>{{type}}</strong> {{localize "Sheet"}}</label>
			<div class="form-fields">
				<select name="defaultClass" {{#unless isGM}}disabled{{/unless}}>
					<option value="">{{blankLabel}}</option>
					{{selectOptions sheetClasses selected=defaultClass}}
				</select>
			</div>
			<p class="hint">{{localize "SHEETS.TypeSheetHint"}}</p>
		</div>
	</fieldset>
</section>
