<form class="flex row roll-dialog">
	<label for="base">Attribute: </label
	><input type="number" id="base" name="b" min="0" value="{{base}}" autofocus /><label for="skill">Skill: </label
	><input type="number" id="skill" name="s" min="0" value="{{skill}}" /><label for="gear">Gear:</label
	><input type="number" id="gear" name="g" min="0" value="{{gear}}" /><label for="Artifact">Artifact:</label
	><input type="text" id="artifact" name="a" value="{{artifact}}" autocomplete="off" /><label for="modifier"
		>Modifier:</label
	><input type="number" id="modifier" name="modifier" value="{{modifier}}" />
	<button type="submit" id="submit">Roll!</button><button type="reset" id="cancel">Cancel</button>
</form>
