<div class="dice-infos">
	{{#if roll.pushed}} {{#if roll.attributeTrauma}}
	<div class="dice-info">
		<span class="result">{{roll.attributeTrauma}}</span>
		<span class="label">&nbsp;{{localize "ROLL.APPLIED_TRAUMA"}}&nbsp;{{localize attributeLabel}}</span>
	</div>
	{{/if}} {{#if roll.gearDamage}}
	<div class="dice-info">
		<span class="result">{{roll.gearDamage}}</span>
		<span class="label">&nbsp;{{localize "ROLL.APPLIED_TRAUMA"}}&nbsp;{{localize gearLabel}}</span>
	</div>
	{{/if}} {{/if}}
</div>
