<div class="dice-roll">
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    {{{tooltip}}}
    <h4 class="dice-total">{{total}}</h4>
  </div>
</div>

{{!-- Extra info added for Year Zero rolls --}}
{{#if showInfos}}
{{{infos}}}
{{/if}}

{{!-- Push button --}}
{{#if pushable}}
<div class="dice-buttons">
  <button class="dice-button push" data-action="push">{{localize "YZUR.CHAT.ROLL.push"}}</button>
</div>
{{/if}}