<div class="journal-sheet-container adventure-site">

	{{! Sidebar Container }}
	<aside class="sidebar directory flexcol journal-sidebar {{sidebarClass}}">

		{{! Sidebar Search }}
		<header class="directory-header">
			<div class="header-search flexrow">
				<a
					class="action-button view-mode"
					data-action="toggleView"
					data-tooltip="{{localize viewMode.label}}"
				><i class="{{viewMode.icon}}"></i></a>
				<a
					class="action-button toggle-search-mode"
					data-action="toggleSearch"
					data-tooltip="{{localize searchTooltip}}"
				><i class="fas {{searchIcon}}"></i></a>
				<input
					type="search"
					name="search"
					value=""
					autocomplete="off"
					placeholder="{{localize 'SIDEBAR.Search' types=(localize "DOCUMENT.JournalEntryPages")}}"
				/>
				<a
					class="action-button collapse-toggle"
					data-action="toggleCollapse"
					data-tooltip="{{localize collapseMode.label}}"
				><i class="{{collapseMode.icon}}"></i></a>
			</div>
		</header>

		{{! Sidebar Pages Navigation }}
		<nav class="pages-list" aria-label="{{localize 'JOURNAL.NavLabel'}}" data-tooltip-direction="RIGHT">
			<ol class="directory-list scrollable">
				{{#each toc as |page|}}
					<li class="directory-item {{page.tocClass}}" data-page-id="{{page._id}}">
						<div class="page-heading">
							<span class="page-number" data-tooltip="{{page.name}}">{{page.number}}.</span>
							<span class="page-title">{{page.name}}</span>
							{{#if page.icon}}
								<span class="page-ownership {{page.ownershipCls}}"><i class="{{page.icon}}"></i></span>
							{{/if}}
						</div>
					</li>
				{{/each}}
			</ol>
		</nav>

		{{! Sidebar Control Buttons }}
		<div class="action-buttons flexrow">
			<button
				class="previous"
				type="button"
				data-action="previous"
				data-tooltip="{{localize 'JOURNAL.PrevPage'}}"
			>
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			{{#if editable}}
				<button class="create" type="button" data-action="createPage">
					<i class="fa-solid fa-file-circle-plus"></i>
					{{localize "JOURNAL.AddPage"}}
				</button>
				&nbsp;
				{{#if (or (eq type "ice_cave") (eq type "dungeon") (eq type "elven_ruin"))}}
					<button type="button" class="create" data-action="add-room"><i
							class="fas fa-plus-circle"
						></i>{{localize "JOURNAL.AddRoom"}}
					</button>
				{{/if}}
			{{/if}}
			<button class="next" type="button" data-action="next" data-tooltip="{{localize 'JOURNAL.NextPage'}}">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
		</div>
	</aside>

	{{! Main Content }}
	<section class="journal-entry-content flexcol">
		<form class="journal-header">
			<input
				class="title"
				name="name"
				type="text"
				value="{{document.name}}"
				placeholder="{{localize 'JOURNAL.EntryTitle'}}"
			/>
		</form>

		<div class="journal-entry-pages {{cssClass}} {{viewMode.cls}}">
			<div class="scrollable">
				{{#each pages as |page|}}
					<article class="journal-entry-page {{page.viewClass}}" data-page-id="{{page._id}}">
						{{#if page.editable}}
							<div class="edit-container">
								<a class="editor-edit"><i class="fas fa-edit"></i></a>
							</div>
						{{/if}}
					</article>
				{{/each}}
			</div>
		</div>
	</section>
</div>
