<div class="artifact border">
	{{#unless (eq type "gear")}} {{#if showEffectField}}
	<div class="effect">
		<label>{{localize "GEAR.EFFECT"}}</label>
		{{editor target="data.effect" content=data.effect owner=owner button=true editable=true}}
	</div>
	{{/if}} {{/unless}} {{#if showDescriptionField}}
	<div class="description">
		<label>{{localize "ARTIFACT.DESCRIPTION"}}</label>
		{{editor target="data.description" content=data.description owner=owner button=true editable=true}}
	</div>
	{{/if}} {{#if showDrawbackField}}
	<div class="drawback">
		<label>{{localize "ARTIFACT.DRAWBACK"}}</label>
		{{editor target="data.drawback" content=data.drawback owner=owner button=true editable=true}}
	</div>
	{{/if}} {{#if showAppearanceField}}
	<div class="appearance">
		<label>{{localize "ARTIFACT.APPEARANCE"}}</label>
		{{editor target="data.appearance" content=data.appearance owner=owner button=true editable=true}}
	</div>
	{{/if}}
</div>
