<div class="flex row full">
	<div class="flex column" style="flex: 0 0 100%">
		<div class="item-list buildings flex column border grow">
			<div class="header building flex row gap">
				<b class="name">{{localize "BUILDING.NAME"}}</b>
				<b class="quantity">{{localize "BUILDING.NUMBER"}}</b>
				<a class="button item-create" title="{{localize 'SHEET.CREATE_BUILDING'}}" data-type="building"><i
						class="fas fa-plus"
					></i></a>
			</div>
			<div class="items">
				{{#each items as |item|}}
					{{#if item.isBuilding}}
						<div class="building item flex row gap" data-item-id="{{item._id}}">
							<div class="name">
								<details>
									<summary>{{item.name}}</summary>
									<div>{{{item.system.effect}}}</div>
								</details>
							</div>
							<input
								class="quantity"
								type="number"
								data-dtype="Number"
								value="{{item.system.quantity}}"
							/>
							<div class="button">
								<a class="item-control item-edit" title="Edit Building"><i class="fas fa-edit"></i></a>
								<a class="item-control item-post" title="Post Building"><i
										class="fas fa-comment"
									></i></a>
								<a class="item-control item-delete" title="Delete Building"><i
										class="fas fa-trash"
									></i></a>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
</div>