<div class="main border">
    <div class="weight">
        <label>{{localize "GEAR.WEIGHT"}}</label>
        <select name="data.weight">
            {{#select data.weight}}
                <optgroup label={{localize "WEIGHT.TYPE_REGULAR" }}>
                    <option value="none">{{localize "WEIGHT.NONE"}}</option>
                    <option value="tiny">{{localize "WEIGHT.TINY"}}</option>
                    <option value="light">{{localize "WEIGHT.LIGHT"}}</option>
                    <option value="regular">{{localize "WEIGHT.REGULAR"}}</option>
                    <option value="heavy">{{localize "WEIGHT.HEAVY"}}</option>
                </optgroup>
                <optgroup label={{localize "WEIGHT.TYPE_SPECIAL" }}>
                    <option value="3">{{localize "WEIGHT.3"}}</option>
                    <option value="4">{{localize "WEIGHT.4"}}</option>
                    <option value="5">{{localize "WEIGHT.5"}}</option>
                    <option value="6">{{localize "WEIGHT.6"}}</option>
                    <option value="7">{{localize "WEIGHT.7"}}</option>
                    <option value="8">{{localize "WEIGHT.8"}}</option>
                </optgroup>
            {{/select}}
        </select>
    </div>
    <div class="grid-full-line">
        <label>{{localize "GEAR.EFFECT"}}</label>
        <textarea name="data.effect">{{data.effect}}</textarea>
    </div>
</div>
<div class="roll-modifiers border">
					<!-- prettier-ignore -->
				{{! prettier-ignore }}
{{> systems/forbidden-lands/template/partial/roll-modifiers.hbs }}
</div>
